:root {
    --mainclr: #fc96c4;
    --secclr: #35a1f9;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: url("https://i.pinimg.com/564x/88/cb/21/88cb21d0fa57c354f52615d46a821b41.jpg");
    background-size: cover;
    background-position: center;
  }
  
  header {
    position: relative;
    top: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header .logo {
    position: relative;
    color: #000;
    font-size: 25px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
  }
  
  header #logo {
    width: 150px;
  }
  
  .navbar a {
    color: black;
    font-size: 1.5rem;
    margin-left: 2rem;
    position: relative;
  }
  
  .navbar a:after {
    content: '';
    background: var(--secclr);
    width: 0;
    height: 3px;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 5px;
    transition: .3s;
  }
  
  .navbar a:hover:after {
    content: '';
    background: var(--secclr);
    width: 100%;
    height: 3px;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 5px;
  }
  
  .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  
  .content {
    max-width: 650px;
    margin: 60px 100px;
  }
  
  .content .info h2 {
    color: #226a80;
    font-size: 55px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    line-height: 60px;
    margin-bottom: 30px;
  }
  
  .content .info h2 span {
    color: #fff;
    font-size: 50px;
    font-weight: 600;
  }
  
  .content .info p {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 40px;
  }
  
  .content .info-btn {
    color: #fff;
    background: #226a80;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 5px 10px;
    border-radius: 2px;
    transition: 0.3s;
  }
  
  .content .info-btn:hover {
    background: #0c4f60;
  }
  
  .icons {
    display: flex;
    font-size: 1rem;
    margin-right: 0.5rem;
    color: black;
  }
  
  .icons a {
    color: white;
    background: var(--secclr);
    padding: 1.5rem;
    font-size: 1rem;
    border-radius: 0.5px;
  }
  
  .icons a:hover {
    background: transparent;
    border: 0.5px solid var(--secclr);
  }